python-telegram-bot==20.3
aiohttp==3.*

pandas==2.2.2
gspread==6.*
google-auth==2.*
httpx==0.27.*

fpdf2>=2.6.1
python-dotenv==1.0.1

openai==1.*
# If/when you actually use Firestore in code:
# google-cloud-firestore==2.*
